language: android
dist: trusty


before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.android/build-cache

android:
  components:
    # The BuildTools version used by your project
    - tools
    - build-tools-29.0.3

    # The SDK version used to compile your project
    - android-29

    # Repos needed
    - extra-android-m2repository
    - extra-google-m2repository
    - extra-android-support
    - extra-google-google_play_services

  licenses:
      - 'android-sdk-preview-license-.+'
      - 'android-sdk-license-.+'
      - 'google-gdk-license-.+'
      - 'intel-android-extra-license.+'
      - '.+'

# Avoid Sonarqube warning: https://stackoverflow.com/questions/59000099/sonarqube-with-shallow-clone-warning-even-with-shallow-disabled-on-jenkins-build
git:
  depth: false

# How sonarqube is configured: https://sonarcloud.io/project/configuration?analysisMode=GitHubTravis&id=mydroidisbetterthanyours
addons:
  sonarcloud:
    organization: "mindera"
    token:
      secure: "OsqTN/3imthYi+yN12uRbrUN8wFciSTaBjtU69DQXKo2ydhgHXXBHehJ1xCcqV7X/3kG9/u9VoBYJCV44q2p01G53S7HwtcSCxsKxc50S3Osq7hOMlB+SzKFEE3dZQH1l3glJb4D5VYgUed3e6f4Dv6SDgTa0M/dNJkztuug4B0TtbDeRRFzHMinLwjsVV5QU37ZhAPmjKClckTzAPSAN8xy0D9sVFuha9B3wE3zrKUImyI54WZ6yLeWlqWVCinWxvMXUisIOwDraJIbIQQqPoDAF37xZ7dSkC9G3577q+O5ovz/ZoI4OmP8tSsgK8IE7gyg0PSBEGh4floMznVCrjvGqeSZ7bOl6f34f4mtsBJCQgDeEX4/qMJzmn2TNiD/7HgEc58scFlGIzsz8d1H72tFC6L/GXvxyOoYuTlnPFumqxcX1L63o41Acrys5Mg/v00OHaVFQg3TEhlwur5CdoSm1AHCAmXrGKk/zbAN0rfiXM819Z8txX/rCuXXn+sE/3i40By6kXeet3Sd3y0YG2fHK9kRwsrX9xBADlTcbGwzf92kWb6y7nIQNFI6A2cRC8W0y0EcLuXNCP47kBT5pH2RgboHPoVbLjTMiAC7tfPfwoMyjND6i8BY/X7UAGAuppam0m5wPEmiBSfDXbyGXYPMcmltQGsLYwJViBkHiws="


script:
  # Compile the SDK
  - ./gradlew assemble

  # Run SonarQube Analysis:
  # TODO We'll need to migrate this to Java 11 soon... https://community.sonarsource.com/t/re-move-to-java-11-java-8-deprecated/25275/13
  - ./gradlew sonarqube

  # Before this configuration we were following
  # https://medium.com/@azizbekian/setup-jacoco-sonarqube-in-multimodule-multiflavor-kotlin-android-project-d8e7b27aed36
  # this still might be useful in some cases to look at



